<div class="container ml-auto mr-auto">
    <form [formGroup]="bankFilterForm" class="flex w-full gap-4 mb-3">
        <mat-form-field [appearance]="'fill'" class="w-1/3">
            <input matInput placeholder="Kredi Adı" formControlName="definition" />
        </mat-form-field>
        <mat-form-field class="w-1/3" appearance="fill">
            <mat-label>Filtre</mat-label>
            <mat-select formControlName="date">
                <mat-option [value]="'begdate'">Başlangıç Tarihi</mat-option>
                <mat-option [value]="'enddate'">Bitiş Tarihi</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="bankFilterForm.controls['date'].value" class="w-1/3" appearance="fill">
            <mat-label>{{bankFilterForm.controls['date'].value === 'begdate' ? 'Başlangıç Tarihi' : 'Bitiş
                Tarihi'}}</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Başlangıç">
                <input matEndDate formControlName="end" placeholder="Bitiş">
            </mat-date-range-input>
            <mat-hint>GG/AA/YYYY – GG/AA/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <div *ngIf="!bankFilterForm.controls['date'].value" class="w-1/3"></div>
        <button mat-icon-button [disabled]="bankFilterForm.invalid"
            class="menu-icon text-qub-tertiary bg-qub-secondary shadow-md flex items-center justify-center mt-2 ml-auto h-[40px] w-[40px] rounded-full"
            (click)="filter()">
            <mat-icon fontIcon="search"></mat-icon>
        </button>
        <button mat-icon-button [disabled]="!bankFilterForm.value"
            class="menu-icon text-qub-tertiary bg-qub-secondary shadow-md flex items-center justify-center mt-2 ml-auto h-[40px] w-[40px] rounded-full"
            (click)="clearFilters()">
            <mat-icon fontIcon="delete"></mat-icon>
        </button>
    </form>
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> Kredi Kodu </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{ 'selected-row': element.select }" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
              height: '20px',
              width: '100%',
              'background-color': '#b7bec3',
              border: '1px solid #b7bec3'
            }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.code }}
                </ng-template>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-250"> Kredi Adı </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{ 'selected-row': element.select }" class="table-column-250"
                (click)="rowClicked(element)">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
              height: '20px',
              width: '100%',
              'background-color': '#b7bec3',
              border: '1px solid #b7bec3'
            }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    <div class="clickable-cell">
                        {{ element.name }}
                    </div>
                </ng-template>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="begdate">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> Başlangıç Tarihi </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{ 'selected-row': element.select }" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
              height: '20px',
              width: '100%',
              'background-color': '#b7bec3',
              border: '1px solid #b7bec3'
            }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.begdate | date: "dd/MM/yyyy"}}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="enddate">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> Bitiş Tarihi </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{ 'selected-row': element.select }" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
              height: '20px',
              width: '100%',
              'background-color': '#b7bec3',
              border: '1px solid #b7bec3'
            }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.enddate | date: "dd/MM/yyyy"}}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="trtotal">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> Kredi Tutarı </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{ 'selected-row': element.select }" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
              height: '20px',
              width: '100%',
              'background-color': '#b7bec3',
              border: '1px solid #b7bec3'
            }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.trtotal | number}}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="trcurr">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150">Para Birimi </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{ 'selected-row': element.select }" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
              height: '20px',
              width: '100%',
              'background-color': '#b7bec3',
              border: '1px solid #b7bec3'
            }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ renderCurrency(element.trcurr)}}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Ana Para Column -->
        <ng-container matColumnDef="totalAmountOfBncrepay">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> Ana Para </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{ 'selected-row': element.select }" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else totalAmountContent">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                height: '20px',
                width: '100%',
                'background-color': '#b7bec3',
                border: '1px solid #b7bec3'
            }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #totalAmountContent>
                    {{ element.totalAmountOfBncrepay | number }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Ödenen Ana Para Column -->
        <ng-container matColumnDef="paidTotalAmountOfBncrepay">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> Ödenen Ana Para </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{ 'selected-row': element.select }" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else paidTotalAmountContent">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                height: '20px',
                width: '100%',
                'background-color': '#b7bec3',
                border: '1px solid #b7bec3'
            }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #paidTotalAmountContent>
                    {{ element.paidTotalAmountOfBncrepay | number }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Faiz Column -->
        <ng-container matColumnDef="totalIntAmountOfBncrepay">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> Faiz </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{ 'selected-row': element.select }" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else totalIntAmountContent">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                height: '20px',
                width: '100%',
                'background-color': '#b7bec3',
                border: '1px solid #b7bec3'
            }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #totalIntAmountContent>
                    {{ element.totalIntAmountOfBncrepay | number }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Ödenen Faiz Column -->
        <ng-container matColumnDef="paidTotalIntAmountOfBncrepay">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> Ödenen Faiz </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{ 'selected-row': element.select }" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else paidTotalIntAmountContent">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                height: '20px',
                width: '100%',
                'background-color': '#b7bec3',
                border: '1px solid #b7bec3'
            }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #paidTotalIntAmountContent>
                    {{ element.paidTotalIntAmountOfBncrepay | number }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- BSMV Faiz Column -->
        <ng-container matColumnDef="totalBsmvAmountOfBncrepay">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> BSMV Faiz </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{ 'selected-row': element.select }" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else totalBsmvAmountContent">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                height: '20px',
                width: '100%',
                'background-color': '#b7bec3',
                border: '1px solid #b7bec3'
            }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #totalBsmvAmountContent>
                    {{ element.totalBsmvAmountOfBncrepay | number }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Ödenen BSMV Faiz Column -->
        <ng-container matColumnDef="paidTotalBsmvAmountOfBncrepay">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> Ödenen BSMV Faiz </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{ 'selected-row': element.select }" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else paidTotalBsmvAmountContent">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                height: '20px',
                width: '100%',
                'background-color': '#b7bec3',
                border: '1px solid #b7bec3'
            }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #paidTotalBsmvAmountContent>
                    {{ element.paidTotalBsmvAmountOfBncrepay | number }}
                </ng-template>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>


    <mat-paginator [pageSizeOptions]="[10, 25, 50]" [pageSize]="queryParams.size" [pageIndex]="queryParams.page"
        [length]="queryParams.totalElements" (page)="changePaginationEvents($event)" showFirstLastButtons>
    </mat-paginator>
</div>