<div class="flex min-h-full flex-col items-center justify-center px-6 py-12 lg:px-8 test">

  <div class="w-full max-w-sm rounded-xl bg-white p-8 shadow-2xl mt-20 md:mt-32 md:ml-16">

    <div class="flex items-center justify-between">
      <img class="h-14 w-auto" src="assets/images/qubit-logo.png" alt="Qubit" />
      <img class="h-10 w-auto" src="assets/images/qubit-plus-logo.png" alt="Qubit Plus" />
    </div>

    <div class="mt-8 w-full">
      <form class="space-y-6" (ngSubmit)="onSubmit()">

        <fieldset class="rounded-lg border border-gray-300 p-3 pt-0">
          <legend class="ml-2 px-1 text-sm font-medium font-serif text-gray-900">
            Kullanıcı Adı
          </legend>
          <input type="text" name="email" id="email" [(ngModel)]="email" required
            class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6 bg-transparent" />
        </fieldset>

        <fieldset class="rounded-lg border border-gray-300 p-3 pt-0">
          <legend class="ml-2 px-1 text-sm font-medium font-serif text-gray-900">
            Şifre
          </legend>
          <input type="password" name="password" id="password" [(ngModel)]="password" autocomplete="current-password"
            required
            class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6 bg-transparent" />
        </fieldset>

        <div>
          <button type="submit"
            class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
            Oturum Aç
          </button>
        </div>
      </form>

      <p class="mt-8 text-center text-sm text-gray-500">
        QUBIT'e Hoş Geldiniz.
      </p>
    </div>
  </div>
</div>
<div class="fixed bottom-[30px] right-[70px] hidden md:block">
  <img class="mx-auto h-20 w-auto rounded-lg shadow-lg" src="assets/images/qubit-logo.png" alt="QUBIT" />
</div>
<div class="fixed bottom-0 right-3 text-white hidden md:block"> © 2025 Developed By QUBIT </div>