<div class="p-8 !h-screen">
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="linetype">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> Satır Tipi </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ renderLineType(element.linetype)}}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="itemCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-200"> Malzeme Kodu </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-200">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.itemCode }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="itemName">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-250"> Malzeme Adı </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-250">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.itemName }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> Miktar </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.amount | number }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> Toplam </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.total | number }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="unitName">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> Birim </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.unitName }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> Fiyat </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.price | number}}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="clCardDefinition">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-300"> Cari Adı </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-300" (click)="rowClicked(element)">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    <div class="clickable-cell">
                        {{ element.clCardDefinition }}
                    </div>
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-200"> Tarih </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-200">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.date | date: 'dd/MM/yyyy'}}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="iocode">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> Girdi/Çıktı
                Kodu</mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ renderIoCode(element.iocode)}}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="prcurr">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-200"> Para Birimi </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-200">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ renderCurrency(element.prcurr) }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lineexp">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-200"> Satır Açıklaması
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-200">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.lineexp }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="vat">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> KDV </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.vat }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="vatamnt">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> KDV Tutarı </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.vatamnt }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="vatmatrah">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> KDV Matrahı </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.vatmatrah }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="linenet">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> Satır Net </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.linenet }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="month">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> Ay </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.month }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="year">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> Yıl </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                        height: '20px',
                        width: '100%',
                        'background-color': '#b7bec3',
                        border: '1px solid #b7bec3'
                    }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.year }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>


    <mat-paginator [pageSizeOptions]="[10, 25, 50]" [pageSize]="queryParams.size" [pageIndex]="queryParams.page"
        [length]="queryParams.totalElements" (page)="changePaginationEvents($event)" showFirstLastButtons>
    </mat-paginator>
</div>