<mat-list-item class="!text-white" [ngStyle]="{ 'padding-left': item.depth ? item.depth * 30 + 'px' : '15px' }"
  [ngClass]="{ child: isChild }" [routerLink]="route(item)" [activated]="item.isActive && !item.children"
  (click)="changeMenuItem(item, isChild)">
  {{ item.label }}
</mat-list-item>

@if (item.children){ @for(child of item.children; track child) {
<app-sidenav-menu-item [ngClass]="{
    'has-child': child.children,
    hidden: !item.isActive,
    visible: item.isActive
  }" [menuItems]="menuItems" [item]="child" [isChild]="true"
  (menuItemChanged)="changeItem($event)"></app-sidenav-menu-item>
} }