<div class="p-8">
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#e0e0e0',
                  border: '1px solid white'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.id }}
                </ng-template>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tarih </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#e0e0e0',
                  border: '1px solid white'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.date }}
                </ng-template>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lineexp">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Açıklama </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#e0e0e0',
                  border: '1px solid white'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    <div class="clickable-cell">
                        {{ element.lineexp }}
                    </div>
                </ng-template>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="sign">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Borç/Alacak İşareti </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                    height: '20px',
                    width: '100%',
                    'background-color': '#e0e0e0',
                    border: '1px solid white'
                  }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    <div class="clickable-cell">
                        {{ element.sign }}
                    </div>
                </ng-template>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tutar </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                    height: '20px',
                    width: '100%',
                    'background-color': '#e0e0e0',
                    border: '1px solid white'
                  }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    <div class="clickable-cell">
                        {{ element.amount }}
                    </div>
                </ng-template>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>


    <mat-paginator [pageSizeOptions]="[10, 25, 50]" [pageSize]="queryParams.size" [pageIndex]="queryParams.page"
        [length]="queryParams.totalElements" (page)="changePaginationEvents($event)" showFirstLastButtons>
    </mat-paginator>
</div>