<div class="p-8 pt-4">
    <form class="md:flex sm:inline-block w-full gap-4 mb-3" [formGroup]="filterForm">
        <mat-form-field class="md:w-1/3 sm:w-full" appearance="fill">
            <mat-label>Periyot</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Başlangıç">
                <input matEndDate formControlName="end" placeholder="Bitiş">
            </mat-date-range-input>
            <mat-hint>GG/AA/YYYY – GG/AA/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <button mat-icon-button [disabled]="!filterForm.value.start || !filterForm.value.end"
            class="menu-icon text-qub-tertiary bg-qub-secondary shadow-md md:flex sm:inline-block items-center justify-center mt-2 ml-auto h-[40px] w-[40px] rounded-full"
            (click)="filter()">
            <mat-icon fontIcon="search"></mat-icon>
        </button>
        <button mat-icon-button [disabled]="!filterForm.value"
            class="menu-icon text-qub-tertiary bg-qub-secondary shadow-md md:flex sm:inline-block items-center justify-center mt-2 ml-auto h-[40px] w-[40px] rounded-full"
            (click)="clearFilters()">
            <mat-icon fontIcon="delete"></mat-icon>
        </button>
        <div class="md:w-2/3 sm:w-0"></div>
    </form>

    <ng-container *ngIf="(loading$ | async); else content">
        <div class="flex w-full items-center justify-center my-4">
            <mat-spinner class="w-[50px] h-[50px]"></mat-spinner>
        </div>
    </ng-container>
    <ng-template #content>
        <div *ngIf="totals$ | async as totals" class="my-4 table-background">
            <!-- <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/3 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0"> Toplam
                    Borç - TL
                </span>
                <span class="flex w-1/3 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                    Toplam Alacak - TL</span>
                <span class="flex w-1/3 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                    Toplam Bakiye - TL </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/3 py-1 px-2 border border-1 border-gray-400 !border-r-0">
                    {{totals.totalDebt | number }}</span>
                <span class="flex w-1/3 py-1 px-2 border border-1 border-gray-400 !border-r-0">
                    {{totals.totalCredit | number }} </span>
                <span class="flex w-1/3 py-1 px-2 border border-1 border-gray-400">
                    {{totals.totalAmount | number }}
                </span>
            </div> -->
        </div>
    </ng-template>

    <!-- <h1 *ngIf="elements.length > 0"> Dönem: {{term ?? '03'}} </h1> -->

    <!--   <div *ngIf="elements.length === 0 && !(loading$ | async)" class="flex w-full items-center justify-center p-8">
        Dönem için veri bulunmamaktadır.
    </div>
 -->
    <mat-table [dataSource]="dataSource" [id]="id">
        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> Tarih </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    <div>
                        {{ element.date | date: 'dd/MM/yyyy'}}
                    </div>
                </ng-template>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="trcurr">
            <mat-header-cell *matHeaderCellDef class="table-column-200"> Döviz Kuru </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-200">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ renderCurrency(element.trcurr) }}
                </ng-template>
            </mat-cell>
        </ng-container>
        <!--  <ng-container matColumnDef="sign">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> Borç/Alacak İşareti
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                    height: '20px',
                    width: '100%',
                    'background-color': '#b7bec3',
                    border: '1px solid #b7bec3'
                  }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ renderSign(element.sign!) }}
                </ng-template>
            </mat-cell>
        </ng-container> -->
        <ng-container matColumnDef="debt">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> Borç </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                    height: '20px',
                    width: '100%',
                    'background-color': '#b7bec3',
                    border: '1px solid #b7bec3'
                  }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.sign ? '': (element.trcurr === 0 || element.trcurr === 160 ? element.amount:
                    element.trnet | number) }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="credit">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> Alacak </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                    height: '20px',
                    width: '100%',
                    'background-color': '#b7bec3',
                    border: '1px solid #b7bec3'
                  }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.sign ? (element.trcurr === 0 || element.trcurr === 160 ? element.amount : element.trnet |
                    number) : '' }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cumulativeBalance">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> Bakiye </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                    height: '20px',
                    width: '100%',
                    'background-color': '#b7bec3',
                    border: '1px solid #b7bec3'
                  }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.cumulativeBalance | number }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="trnet">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> İşlem dövizi tutarı
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.trnet | number }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="capiblockNameCreatedby">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> Oluşturan </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.capiblockNameCreatedby }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="capiblockCreadeddate">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> Oluşturma Tarihi
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.capiblockCreadeddate | date: 'dd.MM.yyyy' }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="capiblockModifieddate">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> Değiştirme Tarihi
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.capiblockModifieddate | date: 'dd.MM.yyyy' }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="month">
            <mat-header-cell *matHeaderCellDef class="table-column-100"> Ay </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.month }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="year">
            <mat-header-cell *matHeaderCellDef class="table-column-100"> Yıl </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.year }}
                </ng-template>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"
            [ngClass]="{'general-clickable-cell': row.modulenr !== 3 && row.modulenr !== 5 && row.modulenr !==4}"
            (click)="rowClicked(row, template)"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50]" [pageSize]="queryParams.size" [pageIndex]="queryParams.page"
        [length]="queryParams.totalElements" (page)="changePaginationEvents($event)" showFirstLastButtons>
    </mat-paginator>
</div>

<ng-template #template let-data>
    <div class="flex flex-row justify-between items-center bg-gray-200">
        <h2 mat-dialog-title *ngIf="data.type === 'cstrans'"> Çek Senet Hareketi </h2>
        <h2 mat-dialog-title *ngIf="data.type === 'bnfline'"> Banka Hareketi </h2>
        <h2 mat-dialog-title *ngIf="data.type === 'kscard'"> Kasa Hareketi </h2>
    </div>
    <mat-dialog-content class="p-8">
        @if(data.type === 'cstrans'){
        <div class="w-full table-background">
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Cari Bilgisi </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{data.row.clCardDefinition!}}
                </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Tarih </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{data.row.date | date: "dd/MM/yyyy"}}
                </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Devir </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{data.row.devir === 1 ? 'Aktif' : 'Pasif'}}
                </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Durum </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{ data.row.status === 1 ? 'Tamamlandı': 'İptal
                    Edildi'}}
                </span>
            </div>
        </div>
        }

        @if(data.type === 'bnfline'){
        <div class="w-full table-background">
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Cari Bilgisi </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{data.row.clCardDefinition!}}
                </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Banka Hareket Türü </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{renderBankProcType(data.row.trcode!)}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Tutar </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{data.row.amount! | number}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Açıklama </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{data.row.lineexp}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Kasa Açıklaması </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{data.row.ksLineexp}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Borç/Alacak İşareti </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{renderSign(data.row.sign)}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Hareket Numarası </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{data.row.tranno}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Hareket Tarihi </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{ data.row.transduedate | date: "dd/MM/yyyy" }}
                </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Oluşturan </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{data.row.capiblockNameCreatedby}} </span>
            </div>
        </div>
        }

        @if(data.type === 'kscard'){
        <div class="w-full table-background">
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Cari Bilgisi </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{data.row.custtitle!}}
                </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Fiş Numarası </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{data.row.ficheno }}
                </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Borç/Alacak İşareti </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{renderSign(data.row.sign)}}
                </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Tutar </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{ data.row.amount | number}}
                </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Tarih </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{data.row.date | date: "dd/MM/yyyy"}}
                </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> İşyeri </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{data.row.branch}}
                </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Satır Açıklaması </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{data.row.lineexp}}
                </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> İşlem dövizi türü </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{ renderCurrency(data.row.trcurr) }}
                </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Oluşturan </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{ data.row.capiblockNameCreatedby }}
                </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
                <span class="flex w-1/2 py-1 px-2 border border-1"> Oluşturma Tarihi </span>
                <span class="flex w-1/2 py-1 px-2 border border-1"> {{ data.row.capiblockCreadeddate | date:
                    'dd/MM/yyyy' }}
                </span>
            </div>
        </div>
        }
    </mat-dialog-content>

    <mat-dialog-actions>

        <!-- ESONMEZ_ PİMAK HATALI AKTARIM YAPTI GİBİ. DATALAR TUTARSIZ OLDUGU İÇİN DEPLOY ÖNCESİ COMMENTLENDİ-->
        <!--
    <button *ngIf="data.type === 'cstrans'" mat-button (click)="gotoCsCard(data.row.csref, data.row.termInfo)">
        Çek/Senete Git
    </button>

    <button *ngIf="data.type === 'bnfline'" mat-button (click)="gotoBnCard(data.row.bankref, data.row.termInfo)">
        Bankaya Git
    </button>

    <button *ngIf="data.type === 'kscard'" mat-button (click)="gotoKsCard(data.row.cardref, data.row.termInfo)">
        Kasaya Git
    </button>
    -->

        <button mat-button mat-dialog-close (click)="close()" cdkFocusInitial>Kapat</button>
    </mat-dialog-actions>

</ng-template>