<div class="p-8 pt-4">
    <!--  <div class="w-full">
        <mat-form-field class="w-[300px]">
            <mat-label>Dönem</mat-label>
            <mat-select [formControl]="termControl" multiple>
                <mat-option [value]="'01'">1</mat-option>
                <mat-option [value]="'02'">2</mat-option>
                <mat-option [value]="'03'">3</mat-option>
            </mat-select>
        </mat-form-field>
    </div> -->
    <ng-container *ngIf="!term || term === '03'">
        <ng-container *ngIf="(loading$ | async); else content">
            <div class="flex w-full items-center justify-center my-4">
                <mat-spinner class="w-[50px] h-[50px]"></mat-spinner>
            </div>
        </ng-container>
        <ng-template #content>
            <div *ngIf="totals$ | async as totals" class="my-4 table-background">
                <div class="flex w-full content-between flex-wrap flex-row">
                    <span class="flex w-1/3 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0"> Toplam
                        Borç
                    </span>
                    <span class="flex w-1/3 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                        Toplam Alacak </span>
                    <span class="flex w-1/3 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                        Toplam Bakiye </span>
                </div>
                <div class="flex w-full content-between flex-wrap flex-row">
                    <span class="flex w-1/3 py-1 px-2 border border-1 border-gray-400 !border-r-0">
                        {{totals.totalDebt}}</span>
                    <span class="flex w-1/3 py-1 px-2 border border-1 border-gray-400 !border-r-0">
                        {{totals.totalCredit}} </span>
                    <span class="flex w-1/3 py-1 px-2 border border-1 border-gray-400">
                        {{totals.totalAmount | number }}
                    </span>
                </div>
            </div>
        </ng-template>
    </ng-container>

    <h1 *ngIf="elements.length > 0"> Dönem: {{term ?? '03'}} </h1>

  <!--   <div *ngIf="elements.length === 0 && !(loading$ | async)" class="flex w-full items-center justify-center p-8">
        Dönem için veri bulunmamaktadır.
    </div>
 -->
    <mat-table [dataSource]="dataSource" [id]="id" *ngIf="elements.length > 0">
        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> Tarih </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.date | date: 'dd/MM/yyyy'}}
                </ng-template>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lineexp">
            <mat-header-cell *matHeaderCellDef class="table-column-200"> Açıklama </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-200">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.lineexp }}
                </ng-template>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="sign">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> Borç/Alacak İşareti
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                    height: '20px',
                    width: '100%',
                    'background-color': '#b7bec3',
                    border: '1px solid #b7bec3'
                  }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ renderSign(element.sign!) }}
                </ng-template>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> Tutar </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                    height: '20px',
                    width: '100%',
                    'background-color': '#b7bec3',
                    border: '1px solid #b7bec3'
                  }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.amount | number }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cyphcode">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> Yetki Kodu </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.cyphcode }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tranno">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> Hareket numarası
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.tranno }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="accounted">
            <mat-header-cell *matHeaderCellDef class="table-column-200"> Muhasebeleşme
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-200">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ renderAccountedInfo(element.accounted) }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="trnet">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> İşlem dövizi tutarı
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.trnet | number }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="reportnet">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> RD Tutarı </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.reportnet | number }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="capiblockNameCreatedby">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> Oluşturan </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.capiblockNameCreatedby }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="capiblockCreadeddate">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> Oluşturma Tarihi
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.capiblockCreadeddate | date: 'dd.MM.yyyy' }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="capiblockModifieddate">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> Değiştirme Tarihi
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.capiblockModifieddate | date: 'dd.MM.yyyy' }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="month">
            <mat-header-cell *matHeaderCellDef class="table-column-100"> Ay </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.month }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="year">
            <mat-header-cell *matHeaderCellDef class="table-column-100"> Yıl </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.year }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="affectrisk">
            <mat-header-cell *matHeaderCellDef class="table-column-150"> Risk Etkisi </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
                  height: '20px',
                  width: '100%',
                  'background-color': '#b7bec3',
                  border: '1px solid #b7bec3'
                }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.affectrisk }}
                </ng-template>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator *ngIf="elements.length > 0" [pageSizeOptions]="[10, 25, 50]" [pageSize]="queryParams.size"
        [pageIndex]="queryParams.page" [length]="queryParams.totalElements" (page)="changePaginationEvents($event)"
        showFirstLastButtons>
    </mat-paginator>
</div>