<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="select" sticky>
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell [ngClass]="{ 'selected-row': element.select }" *matCellDef="let element">
      <mat-checkbox [checked]="element.selected" [disableRipple]="true" (change)="checkedChanged($event, element)"
        color="primary" class="column-checkbox">
      </mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass]="{ 'selected-row': element.select }">
      {{ element.id }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Kodu </mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass]="{ 'selected-row': element.select }">
      {{ element.code }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Adı </mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass]="{ 'selected-row': element.select }" (click)="rowClicked(element)">
      <div class="clickable-cell">
        {{ element.definition }}
      </div>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>