<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="bg-[#3c4c5b] rounded-none h-[100vh]">
    <mat-nav-list>
      @for (item of menuItems; track item) {
      <mat-action-list [ngClass]="{ active: item.isActive }" class="menu-item">
        <app-sidenav-menu-item [ngClass]="{ 'has-child': item.children }" [menuItems]="menuItems" [item]="item"
          (menuItemChanged)="changeMenuItem($event)"></app-sidenav-menu-item>
      </mat-action-list>
      }
    </mat-nav-list>

    <div class="fixed bottom-[30px] left-[130px]">
      <img class="mx-auto h-20 w-auto rounded-lg shadow-lg" src="assets/images/qubit-logo.png" alt="QUBIT" />
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>