.sidenav-content {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6)), url(../../../assets/images/Qubit_White_Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;

    .container {
        @apply p-5;
        height: calc(100vh - 64px) !important;
        width: calc(100% - 50px);
    }
}



.active {
    // background-color: #6b7d91;
    .has-child {
        height: unset;

        .child {
            opacity: 1;
            transform: translateY(0 + 10px);
        }
    }
}

.has-child {
    display: block;
    height: 48px;
    transition: height ease-in-out .5s;

    .child {
        opacity: 0;
        transition: transform ease .5s;
    }
}