<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      @for (item of menuItems; track item) {
      <mat-action-list [ngClass]="{ active: item.isActive }" class="menu-item">
        <app-sidenav-menu-item
          [ngClass]="{ 'has-child': item.children }"
          [menuItems]="menuItems"
          [item]="item"
          (menuItemChanged)="changeMenuItem($event)"
        ></app-sidenav-menu-item>
      </mat-action-list>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="bg-white">
    <div class="container">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
