.mat-column-devir{
    flex: 0 0 10%;
}

.mat-column-status{
    flex: 0 0 15%;
}

.mat-column-clCardDefinition{
    flex: 0 0 50%;
}

.mat-column-statno{
    flex: 0 0 10%;
}

.mat-column-date{
    flex: 0 0 15%;
}