<ng-container *ngIf="invoice$ | async as invoice">
    <app-banner [label]="invoice.clCardDefinition!" [subLabel]="invoice?.ficheno!"></app-banner>
</ng-container>

<div class="w-auto detail-background">
    <mat-tab-group>
        <mat-tab label="Genel Bilgiler" labelClass="bg-qub-primary">
            <ng-container *ngIf="(loading$ | async); else content">
                <div class="flex w-full items-center justify-center p-8">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-container>
            <ng-template #content>
                <ng-container *ngIf="invoice$ | async as invoice">
                    <div class="p-8">
                        <div class="w-full h-full table-background">
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Muhasebeleştirildi </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{renderAccountedInfo(invoice.accounted!)}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Genel Muhasebe Hesabı Ref. </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.accountref}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Satıra Uygulanan Ek İndirimler </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.adddiscounts}} </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    İptal Edilmiş </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.cancelled}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Oluşturulma Tarihi
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.capiblockCreadeddate}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Oluşturan </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.capiblockNameCreatedby}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Cari Hesap Ref. </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.clientref}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Yetki Kodu </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.cyphcode}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Tarih </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.date}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Belge Numarası
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.docode}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Fatura Numarası
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.ficheno}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Kasadan Fatura </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.fromkasa}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Döviz Türü (Genel) </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.genexctyp}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Toplam </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.grosstotal}} </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Grup Kodu </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.grpcode}} </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Kasa hareketi ref.
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.kastransref}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Net Toplam
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.nettotal | number}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Ödenmiş </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.paidincash}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Kayıt Durumu </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.recstatus}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    RD Tutarı </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.reportnet}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    RD Kuru
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.reportrate}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-r-0"> Satış
                                    Temsilcisi Referansı
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400">
                                    {{invoice.salesmanref}} </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Ambar Numarası
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.sourceindex}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-r-0"> Özel Kod
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400"> {{invoice.specode}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    İndirimler Satır Toplamı
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.totaldiscounted}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-r-0"> Toplam
                                    İndirimler
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400">
                                    {{invoice.totaldiscounts}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Toplam KDV
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.totalvat}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-r-0"> Fatura
                                    Türü
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400"> {{invoice.trcode}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    İşlem Dövizi Türü
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.trcurr}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-r-0"> İşlem
                                    dövizi tutarı
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400"> {{invoice.trnet}}
                                </span>
                            </div>
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    İşlem dövizi kuru
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{invoice.trrate}}
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-template>

        </mat-tab>
        <mat-tab label="Fatura Hareketleri" labelClass="bg-qub-primary">
            <app-invoice-detail-list [invoiceId]="invoiceId" class="!h-screen"></app-invoice-detail-list>
        </mat-tab>
    </mat-tab-group>
</div>