<ng-container *ngIf="invoice$ | async as invoice">
    <app-banner [label]="invoice.clCard?.definition!" [subLabel]="invoice?.ficheno!"></app-banner>
</ng-container>

<div class="w-auto detail-background">
    <mat-tab-group>
        <mat-tab label="Fatura Hareketleri" labelClass="bg-qub-primary">
            <app-invoice-detail-list [invoiceId]="invoiceId" class="!h-screen"></app-invoice-detail-list>
        </mat-tab>
        <mat-tab label="Cari Bilgileri" labelClass="bg-qub-primary">
            <ng-container *ngIf="invoice$ | async as invoice">
                <app-invoice-detail-clcard [clCardId]="invoice.clientref!"
                    class="!h-screen"></app-invoice-detail-clcard>
            </ng-container>
        </mat-tab>
    </mat-tab-group>
</div>