<ng-container *ngIf="clCard$ | async as card">
  <app-banner [label]="card.definition"></app-banner>
</ng-container>

<div class="w-auto">
  <!-- <form [formGroup]="cashFilterForm" class="flex w-full gap-4 px-3 mb-3">
    <mat-form-field [appearance]="'outline'" class="w-1/3">
      <input matInput placeholder="Isim" formControlName="name" />
    </mat-form-field>
    <mat-form-field [appearance]="'outline'" class="w-1/3">
      <input
        matInput
        placeholder="Cep Telefonu"
        formControlName="phoneNumber"
        type="number"
        pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
        maxlength="10"
        onKeyPress="if(this.value.length==10) return false;"
      />
      <mat-hint>
        <mat-icon> info </mat-icon>
        Başında 0 olmadan giriniz.
      </mat-hint>
    </mat-form-field>
    <mat-form-field [appearance]="'outline'" class="w-1/3">
      <input
        matInput
        placeholder="E-Posta"
        formControlName="email"
        type="email"
      />
    </mat-form-field>
    <button
      mat-icon-button
      class="menu-icon text-qub-tertiary bg-qub-secondary shadow-md flex items-center justify-center mt-2 ml-auto"
      (click)="filter()"
    >
      <mat-icon fontIcon="search"></mat-icon>
    </button>
  </form> -->
  <mat-tab-group>
    <mat-tab label="Genel Bilgiler" labelClass="bg-qub-primary">
      <ng-container *ngIf="(loading$ | async); else content">
        <div class="flex w-full items-center justify-center p-8">
          <mat-spinner></mat-spinner>
        </div>
      </ng-container>
      <ng-template #content>
        <ng-container *ngIf="clCard$ | async as card">
          <div class="p-8">
            specode2: string;
            specode4: string;
            specode5: string;
            capiblockNameCreatedby: string;
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Id </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.id}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Kullanım durumu </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.active}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Cari Hesap Kart Türü </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.cardType}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Cari Hesap Kodu </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.code}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Cari Hesap Ünvanı </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.definition}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Adres </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.addr1 + card.addr2}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Şehir Açıklaması </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.city}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Ülke Açıklaması </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.country}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> İlçe Açıklaması </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.town}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Semt Açıklaması </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.district}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> İlgili </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.inCharge}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Posta Kodu </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.postCode}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Telefon Numarası 1 </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.telNrs1}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Telefon Numarası 2 </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.telNrs2}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Faks Numarası </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.faxNr}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Vergi Numarası </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.taxNr}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Kayıt Durumu </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.recStatus}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Kayıt Durumu </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.recStatus}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Vergi dairesi </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.taxOffice}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> E-Posta Adresi </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.emailAddr}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Oluşturulma Tarihi </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.capiBlock_CreatedDate}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Oluşturan </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.capiBlock_CreatedBy}} </span>
            </div>
            <div class="flex w-full content-between flex-wrap flex-row">
              <span class="flex w-1/2 py-1 px-2 border border-1"> Ödeme Planı Referansı </span>
              <span class="flex w-1/2 py-1 px-2 border border-1"> {{card.paymentRef}} </span>
            </div>

          </div>
        </ng-container>
      </ng-template>

    </mat-tab>
    <mat-tab label="Cari Hareketleri" labelClass="bg-qub-primary">
      <app-current-accounts-detail-list [cardId]="accountId"></app-current-accounts-detail-list>
    </mat-tab>
  </mat-tab-group>
</div>