<ng-container *ngIf="orfiche$ | async as orfiche">
    <app-banner [label]="orfiche.clCardDefinition!" [subLabel]="orfiche.clientref!"></app-banner>
</ng-container>

<div class="w-auto detail-background h-screen">
    <mat-tab-group>
        <mat-tab label="Genel Bilgiler" labelClass="bg-qub-primary">
            <ng-container *ngIf="(loading$ | async); else content">
                <div class="flex w-full items-center justify-center p-8">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-container>
            <ng-template #content>
                <ng-container *ngIf="orfiche$ | async as orfiche">
                    <div class="p-8">
                        <div class="w-full h-full table-background">
                            <!-- ID -->
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    ID
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{orfiche.id}}
                                </span>
                            </div>

                            <!-- Cari Kart Tanımı -->
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Cari Adı
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{orfiche.clCardDefinition}}
                                </span>
                            </div>

                            <!-- Fiş Türü -->
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Fiş Türü
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{orfiche.trcode === 1 ? 'Alınan Siparişler' : 'Verilen Siparişler'}}
                                </span>
                            </div>

                            <!-- Fiş No -->
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Fiş No
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{orfiche.ficheno}}
                                </span>
                            </div>

                            <!-- Tarih -->
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Tarih
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{orfiche.date | date: "dd/MM/yyyy"}}
                                </span>
                            </div>

                            <!-- Belge Kodu -->
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Belge Kodu
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{orfiche.docode}}
                                </span>
                            </div>

                            <!-- Cari Referansı -->
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Müşteri Referansı
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{orfiche.clientref}}
                                </span>
                            </div>

                            <!-- Toplam İskonto -->
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    İndirimler Toplamı
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{orfiche.totaldiscounted | number}}
                                </span>
                            </div>

                            <!-- Toplam KDV -->
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Toplam KDV
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{orfiche.totalvat | number}}
                                </span>
                            </div>

                            <!-- Brüt Toplam -->
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Toplam
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{orfiche.grosstotal | number}}
                                </span>
                            </div>

                            <!-- Net Toplam -->
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Net Toplam
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{orfiche.nettotal | number}}
                                </span>
                            </div>

                            <!-- Genel Açıklama 1 -->
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Fiş Genel Açıklaması
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{orfiche.genexp1}}
                                </span>
                            </div>

                            <!-- Genel Açıklama 2 -->
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Fiş Genel Açıklaması
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{orfiche.genexp2}}
                                </span>
                            </div>

                            <!-- Durum -->
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Durum
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{renderOrficheStatus(orfiche.status!)}}
                                </span>
                            </div>

                            <!-- Oluşturulma Tarihi -->
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    Oluşturulma Tarihi
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{orfiche.capiblockCreadeddate | date: "dd/MM/yyyy" }}
                                </span>
                            </div>

                            <!-- İşlem Net -->
                            <div class="flex w-full content-between flex-wrap flex-row">
                                <span
                                    class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0 !border-r-0">
                                    İşlem Dövizi Tutarı
                                </span>
                                <span class="flex w-1/2 py-1 px-2 border border-1 border-gray-400 !border-b-0">
                                    {{orfiche.trnet | number}}
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-template>

        </mat-tab>
        <mat-tab label="Sipariş Hareketleri" labelClass="bg-qub-primary">
            <app-orfiche-detail-list [orficheId]="orficheId" class="!h-screen"></app-orfiche-detail-list>
        </mat-tab>
    </mat-tab-group>
</div>