<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Kodu </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.code }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Adı </mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="rowClicked(element)">
      <div class="clickable-cell">
        {{ element.name }}
      </div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Açıklama
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.description }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="remainder">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Bakiye
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.remainder }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="idRemainder">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      İ.D. Bakiye
    </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.idRemainder }}
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>
