<div class="table-inner-container p-8 h-screen">
    <mat-table [dataSource]="dataSource" matSort>
        <!-- ID Sütunu -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> ID
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.id }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Kod Sütunu -->
        <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-120"> Kredi Kodu
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-120">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.code }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- İsim Sütunu -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-300"> Kredi Adı
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-300">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.name }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Banka Hesabı Tanımı Sütunu -->
        <ng-container matColumnDef="bankAccDefinition">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-300"> Banka Hesabı Adı
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-300">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.bankAccDefinition }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Banka Kredi Referansı Sütunu -->
        <ng-container matColumnDef="bncrref">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> Kredi Referansı
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.bncrref }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Özel Kod Sütunu -->
        <ng-container matColumnDef="specode">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> Özel Kod
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.specode }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Yetki Kodu Sütunu -->
        <ng-container matColumnDef="cyphcode">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> Yetki Kodu
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.cyphcode }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Kredi Kartı Tipi Sütunu -->
        <ng-container matColumnDef="crcardtype">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> Kredi Kartı Tipi
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ renderCardType(element.crcardtype) }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Kredi Tipi Sütunu -->
        <ng-container matColumnDef="credittype">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-150"> Kredi Tipi
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-150">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ renderCreditType(element.credittype) }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- GKS No Sütunu -->
        <ng-container matColumnDef="gksno">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> GKS No
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.gksno }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Başlangıç Tarihi Sütunu -->
        <ng-container matColumnDef="begdate">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-130"> Başlangıç Tarihi
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-130">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.begdate | date: 'dd/MM/yyyy' }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Bitiş Tarihi Sütunu -->
        <ng-container matColumnDef="enddate">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-130"> Bitiş Tarihi
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-130">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.enddate | date: 'dd/MM/yyyy' }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- İşlem Dövizi Sütunu -->
        <ng-container matColumnDef="trcurr">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-180"> İşlem Dövizi
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-180">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ renderCurrency(element.trcurr) }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- İşlem Toplamı Sütunu -->
        <ng-container matColumnDef="trtotal">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> İşlem Toplamı
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.trtotal | number: '1.2-2' }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Kredi İşlem Kuru Sütunu -->
        <ng-container matColumnDef="trratecr">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> Kredi İşlem Kuru
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.trratecr | number: '1.4-4' }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Hesap İşlem Kuru Sütunu -->
        <ng-container matColumnDef="trrateacc">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> Hesap İşlem Kuru
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.trrateacc | number: '1.4-4' }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Rapor Kuru Sütunu -->
        <ng-container matColumnDef="reportrate">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> Rapor Kuru
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.reportrate | number: '1.4-4' }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Faiz Oranı Sütunu -->
        <ng-container matColumnDef="intrate">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> Faiz Oranı
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.intrate | number: '1.2-2' }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Faiz Toplamı Sütunu -->
        <ng-container matColumnDef="inttotal">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> Faiz Toplamı
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.inttotal | number: '1.2-2' }}
                </ng-template>
            </mat-cell>
        </ng-container>

        <!-- Komisyon Toplamı Sütunu -->
        <ng-container matColumnDef="commtotal">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-column-100"> Komisyon Toplamı
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="table-column-100">
                <ng-container *ngIf="(loading$ | async); else content">
                    <ngx-skeleton-loader count="1" class="w-full" [theme]="{ 
          height: '20px',
          width: '100%',
          'background-color': '#b7bec3',
          border: '1px solid #b7bec3'
        }"></ngx-skeleton-loader>
                </ng-container>
                <ng-template #content>
                    {{ element.commtotal | number: '1.2-2' }}
                </ng-template>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>


    <mat-paginator [pageSizeOptions]="[10, 25, 50]" [pageSize]="queryParams.size" [pageIndex]="queryParams.page"
        [length]="queryParams.totalElements" (page)="changePaginationEvents($event)" showFirstLastButtons>
    </mat-paginator>
</div>