@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, "monospace";
}

.clickable-cell {
    @apply cursor-pointer underline text-qub-tertiary;
}

.table-inner-container {
    width: 100vw;
}

mat-table {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3)) !important;
    @apply shadow-lg;
    display: block;
    width: 100%;
    overflow-x: auto;
}


// table column width helper for mat-tables
@for $index from 0 through 200 {
    $size: $index * 2;

    .table-column-#{$size} {
        // flex: 0 1 #{$size}#{"px"};
        min-width: #{$size}#{'px'};
    }
}


mat-paginator {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7)) !important;
    @apply shadow-lg;
}

.detail-background {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6)), url(./assets/images/Qubit_White_Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;

    .table-background {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)) !important;
        @apply shadow-lg;
    }
}